<!DOCTYPE html>
<html>
  <head>
    <title>Github comments tracker</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular-resource.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.0.0/moment.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/marked/0.2.9/marked.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/7.3/highlight.min.js"></script>
    <script type="text/javascript" src="/static/js/comments.js"></script>
    <script type="text/javascript" src="/static/js/threads.js"></script>
    <script type="text/javascript" src="/static/js/ng-infinite-scroll.js"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/comments.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/highlighter-default.css"/>
    
  </head>
  <body ng-app="comments">
    <div class="container">
      <h1 class="page-header">Github comments tracker</h1>
      <div ng-view></div>
    </div>
  </body>
</html>